<div class="login">
    <form class="form-horizontal" name="login" novalidate>
        <div class="form-group">
            <label for="username" class="col-sm-offset-3 col-sm-2 control-label">Email Address:</label>

            <div class="col-sm-4">
                <input name="username" class="form-control" type="text" ng-required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-offset-3 col-sm-2 control-label">Password:</label>

            <div class="col-sm-4">
                <input name="password" class="form-control" type="password" ng-required ng-minlength="6">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-4">
                <button class="btn-primary">Sign In</button>
            </div>
        </div>
    </form>
</div>

